<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.savor.ads">

    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE"/>
    <!--<uses-permission android:name="android.permission.ACCESS_CACHE_FILESYSTEM"/>
    <uses-permission android:name="android.permission.INSTALL_LOCATION_PROVIDER"/>
    <uses-permission android:name="android.permission.INSTALL_PACKAGES"/>
    <uses-permission android:name="android.permission.DELETE_PACKAGES"/>-->
    <uses-permission android:name="android.permission.CLEAR_APP_CACHE"/>
    <!--<uses-permission android:name="android.permission.CLEAR_APP_USER_DATA"/>-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <!--<uses-permission android:name="android.permission.WRITE_MEDIA_STORAGE"/>-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.RESTART_PACKAGES"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <!--<uses-permission android:name="android.permission.REBOOT"/>-->

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission
        android:name="android.permission.GLOBAL_SEARCH"
        tools:ignore="ProtectedPermissions"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_TV_LISTINGS"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.MODIFY_PARENTAL_CONTROLS"/>
    <uses-permission android:name="com.android.providers.tv.permission.READ_EPG_DATA"/>
    <uses-permission android:name="com.android.providers.tv.permission.WRITE_EPG_DATA"/>
    <uses-permission android:name="com.android.providers.tv.permission.ACCESS_ALL_EPG_DATA"/>
    <uses-permission android:name="com.android.providers.tv.permission.ACCESS_WATCHED_PROGRAMS"/>
    <uses-permission android:name="droidlogic.permission.SYSTEM_CONTROL"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.HDMI_CEC"/>

    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.DEVICE_POWER" />

    <uses-feature
        android:name="android.software.live_tv"
        android:required="true"/>

    <!-- Permissions/feature for USB tuner -->
    <uses-permission android:name="android.permission.DVB_DEVICE"/>
    <uses-feature
        android:name="android.hardware.usb.host"
        android:required="false"/>

    <!-- Limit only for Android TV -->
    <uses-feature
        android:name="android.software.leanback"
        android:required="true"/>
    <uses-feature
        android:name="android.software.live_tv"
        android:required="true"/>
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false"/>

    <application
        android:name=".SavorApplication"
        android:allowBackup="true"
        android:banner="@mipmap/ic_launcher"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="58576b54677baa3b41000809"/>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="official"/>
        <meta-data
            android:name="com.savor.ads.core.SavorGlideModule"
            android:value="GlideModule"/>

        <receiver android:name=".receiver.NetworkBroadcastReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>

        <activity
            android:name=".activity.MainActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER"/>

                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.HOME"/>
                <category android:name="android.intent.category.DEFAULT"/>

                <category android:name="android.intent.category.LEANBACK_LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- 启动Netty服务的Service -->
        <service
            android:name=".service.MessageService"
            android:exported="false">
        </service>
        <!-- 启动SSDP的服务 -->
        <service
            android:name=".service.ServerDiscoveryService"
            android:exported="false">
        </service>
        <!-- 处理媒体文件更新的服务 -->
        <service
            android:name=".service.HandleMediaDataService"
            android:exported="false">
        </service>

        <!-- 点播类处理和转发指令的Service， 实现在savorbox.jar包中 -->
        <service
            android:name="com.jar.savor.box.services.RemoteService"
            android:permission="oem.permission.SENDMAIL">
            <intent-filter>
                <action android:name="com.jar.savor.box.REMOTE1"/>
            </intent-filter>
        </service>

        <!-- 广告播放页面 -->
        <activity
            android:name=".activity.AdsPlayerActivity"
            android:launchMode="singleTask">
        </activity>
        <!-- 电视播放页面 -->
        <activity
            android:name=".activity.TvPlayerActivity"
            android:launchMode="singleTask">
        </activity>
        <!-- 投屏类播放页面 -->
        <activity android:name=".activity.ScreenProjectionActivity">
        </activity>
        <!-- 应用设置页面 -->
        <activity
            android:name=".activity.SettingActivity"
            android:launchMode="singleTask">
        </activity>

        <service
            android:name=".service.HeartbeatService"
            android:exported="false">
        </service>

        <!--
        <receiver
            android:name=".receiver.ShutdownBroadcastReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_SHUTDOWN"/>
            </intent-filter>
        </receiver>
        -->
        <activity android:name=".activity.UsbImageViewerActivity">
        </activity>

        <service
            android:name=".service.SSDPMulticastService"
            android:exported="false">
        </service>

        <activity
            android:name=".activity.LotteryActivity"
            android:launchMode="singleTask">
        </activity>
    </application>

</manifest>